<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Test1</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>MyFitler</filter-name>
    <filter-class>com.flr.MyFitler</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFitler</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>com.flr.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>DirtyWordsFilter</filter-name>
    <filter-class>com.flr.DirtyWordsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DirtyWordsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncryptPassword</filter-name>
    <filter-class>com.flr.EncryptPassword</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncryptPassword</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.flr.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/sendPage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/sendMessage</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.lsr.MyListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.svl.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.svl.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendPage</servlet-name>
    <servlet-class>com.svl.SendPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPage</servlet-name>
    <url-pattern>/sendPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>com.svl.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/sendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.svl.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyPage</servlet-name>
    <servlet-class>com.svl.MyPageSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPage</servlet-name>
    <url-pattern>/MyPageSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.svl.LogoutSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogoutSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.svl.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPassCode</servlet-name>
    <servlet-class>com.svl.GetPassCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPassCode</servlet-name>
    <url-pattern>/GetPassCode.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.svl.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/fileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFile</servlet-name>
    <servlet-class>com.svl.DeleteFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFile</servlet-name>
    <url-pattern>/deleteFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyReply</servlet-name>
    <servlet-class>com.svl.MyReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyReply</servlet-name>
    <url-pattern>/myReply</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminPage</servlet-name>
  	<servlet-class>com.svl.AdminPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminPage</servlet-name>
  	<url-pattern>/adminPage</url-pattern>
  </servlet-mapping>
</web-app>